<app-usernavbar></app-usernavbar>
<div class="container">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 mt-4">
            <label for="" class="form-label"><h5>Complaint :</h5></label>
            <textarea name="complaints" [(ngModel)]="complaints" id="" cols="30" rows="10" class="form-control"></textarea>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 mt-4">
            <button (click)="readValue()" class="btn btn-danger">submit</button>
        </div>
        </div>
    </div>
</div>